{% load staticfiles %}

<html>
<head>
  <title>Queue {{ id }} | Metadata categorization</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.20.3/handsontable.full.css"/>
  <link type="text/css" rel="stylesheet" href="{%static 'metadata_categorization/style.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.23.0/handsontable.full.js"></script>
  <script type="text/javascript" src="{%static 'metadata_categorization/lib.js' %}"></script>
  <script type="text/javascript" src="{%static 'metadata_categorization/metadata.js' %}"></script>
  <script>
     var summaryRecords = {{ summary_records|safe }};
  </script>
</head>
<body>
  <div id="top">
    <div class="left">
      <h1>Queue {{ id }} | Metadata categorization</h1>
      <p class="subtitle">
      Curate <a href="http://www.ncbi.nlm.nih.gov/biosample" target="_blank">NCBI BioSample</a>
      records with controlled terms from biomedical ontologies
      </p>
    </div>
    <div class="right">
      <ul>
        <li>Cell line: <a href="http://www.ontobee.org/ontology/CL">Cell Line Ontology (CLO)</a></li>
        <li>Cell type: <a href="http://www.ontobee.org/ontology/CL">Cell Ontology (CL)</a></li>
        {% if summary_records.0.taxId == 9606 %}
        <li>Anatomy and Harvest Site: <a href="http://www.ontobee.org/ontology/UBERON">UBERON</a></li>
        <li>Disease: <a href="http://www.ontobee.org/ontology/DOID">Disease Ontology (DO)</a></li>
        {% elif summary_records.0.taxId == 7227 %}
        <li>Developmental stage: <a href="http://www.ontobee.org/ontology/FBdv">FBdv</a></li>
        <li>Anatomy: <a href="http://www.ontobee.org/ontology/FBBT">FBBT</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div id="bottom">
  <div id="queue" class="handsontable"></div>
  <div id="irDialog" class="hidden">
    <div id="irContainer"></div>
  </div>
  <p>
    * "Source cell line" and "Cell line" are one of "Cell line", "Sample name",
    "Sample title", or "Experiment title" in the underlying BioSample XML data.
     "Disease" is one of "Disease", "Health state", or "Phenotype".
     <a target="_blank" href="https://github.com/NCBI-Hackathons/Metadata_categorization/blob/master/metadata/src/gov/nih/ncbi/solr/PopulateRecordsJob.java">Source</a>.
  </p>
 </div>
  {% csrf_token %}
</body>
</html>
