{% load staticfiles %}

<html>
<head>
  <title>Queue {{ id }} | Metadata categorization</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css"/>
  <link type="text/css" rel="stylesheet" href="{%static 'metadata_categorization/style.css' %}"/>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{%static 'metadata_categorization/metadata.js' %}"></script>
</head>
<body>
  <h1>Queue {{ id }} | Metadata categorization</h1>
  <table id="queue">
    <thead>
      <th></th>
      <th>Submitted cell line</th>
      <th>Cell line</th>
      <th>Cell type</th>
      <th>Anatomy</th>
      <th>Species</th>
      <th>Disease</th>
    </thead>
    {% for summaryRecord in summaryRecords %}
    <tbody>
      <tr class="expandable">
        <td><span class="arrow">+</span></td>
        <td>{{ summaryRecord.sourceCellLine }}</td>
        <td>{{ summaryRecord.annotatedCellLine }}</td>
        <td>{{ summaryRecord.annotatedCellType }}</td>
        <td>{{ summaryRecord.annotatedAnatomy }}</td>
        <td>{{ summaryRecord.annotatedSpecies }}</td>
        <td>{{ summaryRecord.annotatedDisease }}</td>
      </tr>
      {% if summaryRecord.individualRecords|length > 0 %}
      <tr style="display: none;"><td colspan="7">
      <table>
        <thead>
          <th></th>
          <th>Submitted cell line</th>
          <th>Cell line</th>
          <th>Cell type</th>
          <th>Anatomy</th>
          <th>Species</th>
          <th>Disease</th>
        </thead>
        <tbody>
          {% for individualRecord in summaryRecord.individualRecords %}
            <tr class="individualRecord">
              <td>&nbsp;</td>
              <td>{{ individualRecord.submittedCellLine }}</td>
              <td>{{ individualRecord.sourceCellLine }}</td>
              <td>{{ individualRecord.sourceCellType }}</td>
              <td>{{ individualRecord.sourceAnatomy }}</td>
              <td>{{ individualRecord.sourceSpecies }}</td>
              <td>{{ individualRecord.sourceDisease }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </td></tr>
    {% endif %}
    </tbody>
    {% endfor %}
  </table>
</body>
</html>
