body {
	font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
	margin-top: -10px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
		cursor: pointer;
}

.icon--plus path {
    fill: rgb(255, 128, 128);
    fill: rgb(255, 128, 128);
    stroke-width: 0.1;
    stroke-linejoin: round;
}

.hidden {
	display: none;
}

.ui-dialog {
	z-index: 1000;
}

.handsontable .source-value {
	font-style: italic;
	background-color: #FFDFDF;
}

.handsontable .annot-value {
	font-style: italic;
	background-color: #DFFFDF;
}

.left {
	float: left;
}

.right {
	float: right;
}

#bottom {
	float: left;
}
