body {
	font-family: Arial, Helvetica, sans-serif;
}

.icon {
    display: inline-block;
    vertical-align: middle;
		cursor: pointer;
}

.icon--plus path {
    fill: rgb(255, 128, 128);
    fill: rgb(255, 128, 128);
    stroke-width: 0.1;
    stroke-linejoin: round;
}
